* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

:root{
    --background-color: #F5F5DC;
    --background-button-color: #DBDBC3;
    --font-color: #93932A;
    --border-color: #AAAA92;
}

body {
    width: 100%;
    height: 100vh;
    background-color: var(--background-color);
    border: black dashed;
    display: flex;
    justify-content: space-around;
}

#user-buttons-container {
    border: blue solid;
    width: 30%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    align-self: center;
}

.users-bttn {
    background-color: transparent;
    border: var(--border-color) dotted;
    border-radius: 100%;
    width: 70px;
    height: 70px;
    color: var(--font-color);
}

.users-bttn:hover {
    background-color:var(--background-button-color);
}

#text-result-container {
    border: solid blue;
    width: 30%;
    height: 40%;
    display: flex;
    align-self: flex-end;
}
#text-result {
    border: black dotted;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#record-tracking-container {
    border: blue solid;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#user-vs-computer{
    width: 140px;
    height: 150px;
    border: red dashed;
}

#total-result-announcement {
    border: red dashed;
    width: 400px;
    height: 100px;
}
.title-container {
    border: red dashed;
    border-bottom: none;
    height: 50px;
}
.value-container {
    border: red dashed;
    width: 140px;
    height: 150px;
}
.title-container {
    color: wheat;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}