* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

:root{
    --background-color: #F5F5DC;
    --background-button-color: #DBDBC3;
    --font-color: #93932A;
    --border-color: #AAAA92;
}

body {
    width: 100%;
    height: 100vh;
    background-color: var(--background-color);
    display: flex;
    justify-content: space-around;
}

#user-buttons-container {
    width: 30%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-self: center;
}

.users-bttn {
    background-color: transparent;
    border: var(--border-color) dotted;
    border-radius: 100%;
    width: 90px;
    height: 90px;
    color: var(--font-color);
}

.users-bttn:hover {
    background-color:var(--background-button-color);
}

#text-result-container {
    width: 30%;
    height: 40%;
    display: flex;
    align-self: flex-end;
}
#text-result {
    border: black dotted;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#record-tracking-container {
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#user-vs-computer{
    width: 55%;
    height: 10%;
    border: red dashed;
}

#total-result-container {
    width: 90%;
    height: 15%;
    display: flex;
}
#total-result-announcement {
    border: red dashed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    color: wheat;
}

.title-container {
    border: red dashed;
    border-bottom: none;
    height: 25%;
}
.record-container {
    width: 35%;
}
.value-container {
    border: red dashed;
    width: 100%;
    height: 150px;
}
.title-container {
    color: wheat;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#user-vs-computer {
    color: wheat;
    font-weight: bolder;
    font-size: 5rem;
    overflow-wrap: break-word;
    display:flex;
    justify-content: center;
    align-items: center;
}

.value-container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: wheat;
    font-size: 10rem;
}